﻿@model List<Pharmacogenetics.Models.ViewModels.AssayCallViewModel>


@if (Model != null && Model.Count != 0)
{
    <table class="table table-bordered cell-border table-striped table-r">
        <thead>
        <tr>
            <th>Assay</th>
            <th>RsId</th>
            <th>Call</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var assayCall in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => assayCall.assayName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => assayCall.rsId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => assayCall.callName)
                </td>
            </tr>
        }
        </tbody>
    </table>

    <a id="excel" href="#" class="btn btn-primary" onclick="postDataProjectGene()">Export</a>
}
else
{
    <br/>
    <h4 style="text-align: center;">No Data Found</h4>
}

<script>
    function postDataProjectGene() {
        var projectId = $("#modalProjectId").val();
        var geneId = $("#modalGeneId").val();
        var alleleId = $("#modalAlleleId").val();
        location.href = '@Url.Action("ExportTranslatorGeneAssaysCallsToExcel","Translator")' + '?projectId=' + projectId + '&geneId=' + geneId + '&alleleId='+alleleId;
    }
</script>




