﻿@using Pharmacogenetics.Models.ViewModels
@model List<TranslatorGeneAlleleViewModel>

@if (Model != null && Model.Count != 0)
{
    <div class="tablePatients project-list-container">
        <table id="tableGeneAlleleInner" class="table table-bordered cell-border table-striped table-r">
            <thead class="thead-inverse">
                <tr>
                    <th>Project Name</th>
                    <th>Gene</th>
                    <th>Allele</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

                @foreach (var geneAllele in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => geneAllele.projectName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => geneAllele.geneName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => geneAllele.alleleName)
                        </td>
                        <td>
                            @Ajax.ActionLink(" ", "ShowAssaysAndCallsOfTranslator", "Translator", new { ProjectId = @geneAllele.projectId, geneId = @geneAllele.geneId, alleleId = @geneAllele.alleleId }, new AjaxOptions { UpdateTargetId = "tableAssaysCalls", HttpMethod = "POST", InsertionMode = InsertionMode.Replace, OnBegin = "startLoading('ajaxBusy2')", OnComplete = "stopLoading('ajaxBusy2');" }, new { @onclick = "modalTitleAndData('" + @geneAllele.geneName + "' , '" + @geneAllele.alleleName + "','" + @geneAllele.projectId + "','" + @geneAllele.geneId + "','" + @geneAllele.alleleId + "');", @class = "btn btn-primary fa fa-eye", data_toggle = "modal", data_target = "#divModal" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="row btn-export-output">
        <a id="excel" href="@Url.Action("ExportTranslatorGenesAllelesToExcel","Translator")" class="btn btn-primary" onclick="reSubmitForm();@{ TempData["TranslatorListGeneAllele"] = Model; }">Export</a>
    </div>
        <div id="divModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content project-list-container">
                    <div class="modal-header">
                        <button id="close-btn" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 id="modalTitle" class="modal-title"></h4>
                    </div>
                    <div class="modal-body project-list-container">
                        <div id="ajaxBusy2" style="display: inline-block; position: absolute;padding-left: 38%">
                            <p>
                                <img src="../../Content/themes/base/images/ring-alt.gif" alt="Loading..." />
                            </p>
                        </div>
                        <input id="modalProjectId" type="hidden" />
                        <input id="modalGeneId" type="hidden" />
                        <input id="modalAlleleId" type="hidden" />
                        <div id="tableAssaysCalls">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        }
        else if (Model != null && Model.Count == 0)
        {
        <div class="tablePatients">
            <table id="tableGeneAlleleInner" class="cell-border table-striped table-r">
                <thead class="thead-inverse">
                    <tr>
                        <th>Project Name</th>
                        <th>Gene</th>
                        <th>Allele</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        }


        <script>
            function modalTitleAndData(geneName,alleleName, projectId,geneId,alleleId) {
                $("#modalTitle").text("Gene Name: " + geneName + " , Allele Name: " + alleleName);
                $("#modalProjectId").val(projectId);
                $("#modalGeneId").val(geneId);
                $("#modalAlleleId").val(alleleId);
            }

            //$(document).ready(function()
            //{
            //    $('.modal').on('hidden.bs.modal', function(e)
            //    {
            //        $("#tableAssaysCalls").empty();
            //    }) ;
            //});


            $(document).ready(function () {
                $('.modal').on('hidden.bs.modal',
                    function (e) {
                        $("#tableAssaysCalls").empty();
                    });
                $('.modal').on('shown.bs.modal',
                    function (e) {
                        $('.modal-body').scrollTop(0);
                    });
            });


            function reSubmitForm() {
                var form = $('#form0');
                form.submit();
                $link = $('#excel');
                location.href = $link.attr('href');
            }
        </script>

        <style>
            .modal-body {
                min-height: 170px;
                max-height: calc(100vh - 200px);
                overflow-y: auto;
            }
        </style>
