﻿@using Microsoft.Owin.Security.Notifications
@using Pharmacogenetics.Models.ViewModels
@model List<Pharmacogenetics.Models.ViewModels.TranslatorGeneAlleleViewModel>
@{
    ViewBag.Title = "Home Page";
}


<div class="wraper-main-container">

    <div class="wraper-inner-container">

        <div class="row">
            <h1>Translator Output</h1>
            @*<h3>Filter By</h3>*@
        </div>
        <div class="row">

            @using (Ajax.BeginForm("FilterByGeneAndAllele", "Translator", new AjaxOptions {UpdateTargetId = "tableGeneAllele", HttpMethod = "POST", InsertionMode = InsertionMode.Replace, OnBegin = "startLoading('ajaxBusy1')", OnComplete = "divDataTable();stopLoading('ajaxBusy1');"}))
    {
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">

                @Html.Label("Project", htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.ListBox("ddlProjectId", new SelectList(ViewBag.ProjectsList, "key", "value", ViewBag.ProjectsListSelectedItem), new {name = "ddlProjectId", @onchange = "$(this.form).submit();", @class = "selectAuto form-control"})
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                @Html.Label("Gene", htmlAttributes: new { @class = "control-label col-md-2" })
                                @Html.ListBox("ddlGeneId", new SelectList(ViewBag.GenesList, "key", "value"), new {name = "ddlGeneId", @onchange = "$(this.form).submit();", @class = "selectAuto form-control"})
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                @*<h4>Allele 1</h4>*@

                @Html.Label("Allele 1", htmlAttributes: new { @class = "control-label col-md-12" })


                @Html.ListBox("ddlAllele1Id", new SelectList(ViewBag.AllelesList, "key", "value"), new {name = "ddlAllele1Id", @onchange = "$(this.form).submit();", @class = "selectAuto form-control"})
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group">
                @*<h4>Allele 2</h4>*@

                @Html.Label("Allele 2", htmlAttributes: new { @class = "control-label col-md-12" })
                @Html.ListBox("ddlAllele2Id", new SelectList(ViewBag.AllelesList, "key", "value"), new {name = "ddlAllele2Id", @onchange = "$(this.form).submit();", @class = "selectAuto form-control"})
            </div>
        </div>
    </div>
    }
        </div>
        <div class="row">


            <div>

                <div id="tableGeneAllele">
                    @Html.Partial("TranslatorGeneAlleleGridPartial", (List<TranslatorGeneAlleleViewModel>)ViewBag.GenesAlleles)
                </div>
                <div id="ajaxBusy1" style="position: absolute;left: 50%; top: 50%;display:none">
                    <p>
                        <img src="../../Content/themes/base/images/ring-alt.gif" alt="Loading..." />
                    </p>
                </div>
            </div>


            </div>



    </div>
</div>


<script>
    function divDataTable() {
        $('#tableGeneAlleleInner').dataTable({
            retrieve: true,
            columnDefs: [
                { type: 'allele-text-numeric', targets: 2 },
                { "targets": 3, "orderable": false }
            ]
        });
    }
</script>

