﻿@model Pharmacogenetics.Models.ViewModels.FileViewModel
@{
    Pharmacogenetics.BaseClasses.Enums.CommonEnums.ProjectFilesEnums fileType = (Pharmacogenetics.BaseClasses.Enums.CommonEnums.ProjectFilesEnums)Model.FileType;
    string fileName = Path.GetFileName(Model.FilePath);
    //string fileServerPath = Server.MapPath(Model.FilePath);
    string fileServerPath = Url.Content("~/uploads/" + fileName);
}
<div class="col-md-12 @Html.Raw("div" + fileType)">
    @*@Html.TextBox("File", null, new { @id = fileType.ToString(), type = "file", data_val = "true", data_val_required = "The FileUpload field is required.", @multiple=false })*@
    <div class="fileuploader-items">
        <ul class="fileuploader-items-list">
            <li class="fileuploader-item file-type-application file-ext-csv upload-successful">
                <div class="columns">
                    <div class="column-thumbnail">
                        <div class="fileuploader-item-image fileupload-no-thumbnail">
                            <div style="background-color: #068120" class="fileuploader-item-icon"><i>csv</i></div>
                        </div>
                    </div>
                    <div class="column-title">
                        <div title="@fileName"><a href="@fileServerPath">@fileName <i class="fa fa-download" aria-hidden="true"></i></a></div>
                        @*<span>90.2 KB</span>*@
                    </div>
                    @*<div class="column-actions">
                        <a class="fileuploader-action fileuploader-action-remove" title="Remove"><i></i></a>
                     </div>*@
                </div>
                @*<div class="progress-bar2">
                        <div class="fileuploader-progressbar">
                            <div class="bar" style="width: 100%;"></div>
                        </div>
                        <span>100%</span>
                    </div>*@
            </li>
        </ul>
    </div>
</div>