﻿@model Pharmacogenetics.Models.ViewModels.ProjectViewModel

@{
    ViewBag.Title = "Edit Project " + Model.ProjectName;
}


<div class="wraper-main-container">

    <div class="wraper-inner-container">



        <h1 class="heading">Edit @Model.ProjectName</h1>
        <div class="clear">&nbsp;</div>
        <div class="row">
            <div class="col-md-12">

                @using (Html.BeginForm("", "", FormMethod.Post, new { enctype = "multipart/form-data", id = "frmUploadProjectFiles" }))
                {
                    @Html.AntiForgeryToken()

                    @*<div class="form-horizontal">*@

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.ProjectName, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="">
                                    @Html.EditorFor(model => model.ProjectName, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.ProjectName, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group hide">
                                @Html.LabelFor(model => model.ProjectID, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="">
                                    @Html.EditorFor(model => model.ProjectID, new { htmlAttributes = new { @class = "form-control text-box single-line" } })
                                    @Html.ValidationMessageFor(model => model.ProjectID, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group hide">
                                @Html.LabelFor(model => model.CreateDate, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.CreateDate, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.CreateDate, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.ProjectDescription, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="">
                                    @Html.TextAreaFor(model => model.ProjectDescription, new { @class = "form-control", @cols = 80, @rows = 10 })
                                    @Html.ValidationMessageFor(model => model.ProjectDescription, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.ProjectNotes, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="">
                                    @Html.TextAreaFor(model => model.ProjectNotes, new { @class = "form-control", @cols = 80, @rows = 10 })
                                    @Html.ValidationMessageFor(model => model.ProjectNotes, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group hide">
                        @Html.LabelFor(model => model.DeleteStatus, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.DeleteStatus, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.DeleteStatus, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group hide">
                        @Html.LabelFor(model => model.ModifyDate, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.ModifyDate, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ModifyDate, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group hide">
                        @Html.LabelFor(model => model.DeleteDate, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.DeleteDate, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.DeleteDate, "", new { @class = "text-danger" })
                        </div>
                    </div>


                    <div class="row upload-s">
                        @if (Model.File != null)
                        {
                            <div class="col-md-4">
                                @Html.Label("Translator Files")
                                    @foreach (var fileItem in Model.File.Where(x => x.FileType == (byte)Pharmacogenetics.BaseClasses.Enums.CommonEnums.ProjectFilesEnums.fileTranslator))
                                    {
                                        Html.RenderPartial("_fileItem", fileItem);
                                    }
                            </div>
                            <div class="col-md-4">
                                @Html.Label("Pateint Files")
                                    @foreach (var fileItem in Model.File.Where(x => x.FileType == (byte)Pharmacogenetics.BaseClasses.Enums.CommonEnums.ProjectFilesEnums.filePatient))
                                    {
                                        Html.RenderPartial("_fileItem", fileItem);
                                    }
                            </div>
                            <div class="col-md-4">
                                @Html.Label("Copy Number Files")
                                    @foreach (var fileItem in Model.File.Where(x => x.FileType == (byte)Pharmacogenetics.BaseClasses.Enums.CommonEnums.ProjectFilesEnums.fileCopyNumber))
                                    {
                                        Html.RenderPartial("_fileItem", fileItem);
                                    }
                            </div>
                        }
                    </div>


                    <div class="form-group">
                        <div class="col-md-offset-5 col-md-2">
                            <input type="submit" value="Edit" class="btn btn-primary upload" />
                        </div>
                    </div>
                    @*</div>*@
                }


            </div>
        </div>
        <div id="messageParsing">
            <div id="ajaxBusy1" style="position: absolute;left: 50%; top: 50%;display:none">
                <p>
                    <img src="../../Content/themes/base/images/ring-alt.gif" alt="Loading..." />
                </p>
            </div>
        </div>


        <div id="detialsDivMessage" style="display:none">
            <button data-toggle="collapse" data-target="#demo">Details</button>

            <div id="demo" class="collapse">
                <div id="messageInnerParsing">

                </div>
            </div>
        </div>


    </div>
</div>






<style>
    .divfileTranslator .fileuploader-input {
        background-color: #FAF7C5;
    }

    .divfilePatient .fileuploader-input {
        background-color: #CBFAC5;
    }

    .divfileCopyNumber .fileuploader-input {
        background-color: #C5FAF6;
    }
</style>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        var actionUpload = '@Url.Action("EditJson", "Project")';
        var actionUploadStatus = '@Url.Action("CreateStatusJson", "Project")';
        var imageUploadPath = '@Url.Content("~/Content/themes/phrma/imgs/fileuploader-dragdrop-icon.png")';
        var pageMode = "Edit";
    </script>
    <script src="~/Scripts/App/Areas/ProjectManagement/Project/Index.js"></script>
}
