﻿@using Microsoft.Owin.Security.Notifications
@model List<Pharmacogenetics.Models.ViewModels.ProjectViewModel>
@{
    ViewBag.Title = "Home Page";
}







    <div class="wraper-main-container">

        <div class="wraper-inner-container">


            <h1>Projects List</h1><a href="@Url.Action("Create", "Project")" class="btn btn-primary" role="button">Create</a>
    <div class="clear"></div>

        <div class="project-list-container">
            <div class="tablePatients">

                <div class="clear" >

                </div>
                <table id="tableProjectsInner" class="cell-border table-striped table-r">
                    <thead class="thead-inverse">
                        <tr>
                            <th>Project Name</th>
                            <th>Create Date</th>
                            <th>Project Description</th>
                            <th>Project Notes</th>
                            <th></th>
                            <th></th>
                            <th style="display:none"></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null && Model.Count != 0)
            {
                for (int i = 0; i < Model.Count; i++)
                {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => Model[i].ProjectName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => Model[i].CreateDate)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => Model[i].ProjectDescription)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => Model[i].ProjectNotes)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Patient Output", "PatientOutput", "Patient", new { Area = "PatientManagement", projectId = @Model[i].ProjectID }, null)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Translator Output", "TranslatorOutput", "Translator", new { Area = "TranslatorManagement", projectId = @Model[i].ProjectID }, null)
                                    </td>
                                    <td style="display:none">
                                        @Html.ActionLink("Patient Output Report", "PatientOutputReport", "Patient", new { Area = "PatientManagement", projectId = @Model[i].ProjectID }, null)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Edit", "Edit", "Project", new { Area = "ProjectManagement", id = @Model[i].ProjectID }, null)
                                    </td>
                                    <td>
                                        <a class="delete" href="javascript:void(0)" onclick="ShowDeleteConfirmationDialog(@Model[i].ProjectID)">Delete</a>
                                    </td>
                                </tr>
                }
            }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

@section scripts{
<script type="text/javascript">
    var DeleteProjectFun = '@Url.Action("DeleteProject", "Project", new { area = "ProjectManagement" })';
    function ShowDeleteConfirmationDialog(projectId) {
        ShowDeleteConfirmation("Delete Confirmation", "Are you sure you want to delete this project ?", projectId, DeleteProject)
    }


    function DeleteProject(projectId) {
        window.location.href = DeleteProjectFun + '?projectId=' + projectId;
        //$.ajax({
        //    url: DeleteProjectFun + '?projectId=' + projectId,//  '~/PoolManagement/DeletePool?poolId=' + poolId,
        //    type: 'POST',
        //    dataType: 'json',
        //    success: function (res) {
        //        if (res.Result === "OK") {
        //            Search();
        //            ShowOperationResultMessage("Project deleted successfully", MessageTypeEnum.Success)
        //            CloseDeleteConfirmation()
        //
        //        } else {
        //            ShowOperationResultMessage("Project deleted Fail", MessageTypeEnum.Error)
        //            CloseDeleteConfirmation()
        //        }
        //    }
        //});
    }
</script>
}