﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section banner{
    <div class="container-fluid">
        <div class="row">
            <div class="banner">
                <div class="caption-banner">
                    <h1>Pharmacogenomics</h1>
                    <p>Is the study of how genes affect a person's response to drugs. This relatively new field combines pharmacology (the science of drugs) and genomics (the study of genes and their functions) to develop effective, safe medications and doses that will be tailored to a person's genetic makeup.</p>
                    <a href="#" class="btn btn-start">Get started</a>
                </div>
            </div>
        </div>
    </div>
}

