﻿@using Pharmacogenetics.Models.ViewModels
@model System.Collections.Generic.List<Pharmacogenetics.Models.ViewModels.PatientGeneAlleleViewModel>

@if (Model != null && Model.Count != 0)
{
    <div class="tablePatients project-list-container">
        <table id="tablePatientsInner" class="cell-border table-striped table-r">
            <thead class="thead-inverse">
                <tr>
                    <th>Project Name</th>
                    <th>Patient</th>
                    <th>Gene</th>
                    @*<th>Parent Gene</th>*@
                    <th>Allele</th>
                    <th>Copy Number</th>
                    <th>Probability</th>
                    <th></th>
                    <th>Recommendation</th>
                </tr>
            </thead>
            <tbody>

                @for (int i = 0; i < Model.Count; i++)
                {
                    for (int j = 0; j < Model[i].geneAllele.Count; j++)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => Model[i].geneAllele[j].projectName)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => Model[i].patientName)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => Model[i].geneAllele[j].geneName)
                            </td>
                            @*<td>
                                @Html.DisplayFor(modelItem => Model[i].geneAllele[j].parentGeneName)
                            </td>*@
                            <td>

                                @{
                        var al = Model[i].geneAllele[j].alleleName;
                        var list = Model[i].geneAllele[j].alleleName.Split(',');
                                }

                                @if (Model[i].geneAllele[j].probability)
                                {
                                    if (list.Length > 3)
                                    {
                                        al = "[" + list[0] + "," + list[1] + "," + list[2] + ",...]";
                                        @Html.DisplayFor(modelItem => al);
                                    <button type="button" onclick="alleleList('@Model[i].patientName', '@Model[i].geneAllele[j].geneName', '@Model[i].geneAllele[j].alleleName')" class="btn btn-primary" data-toggle="modal" data-target="#divModal">More Details</button>
                                    }
                                    else
                                    {
                                        al = "[" + al + "]";
                                        @Html.DisplayFor(modelItem => al);
                                    }
                                }
                                else
                                {
                                    if (list.Length > 3)
                                    {
                                        al = list[0] + "," + list[1] + "," + list[2] + ",...";
                                        @Html.DisplayFor(modelItem => al);
                                    <button type="button" onclick="alleleList('@Model[i].patientName', '@Model[i].geneAllele[j].geneName', '@Model[i].geneAllele[j].alleleName')" class="btn btn-primary" data-toggle="modal" data-target="#divModal">More Details</button>
                                    }
                                    else
                                    {
                                        @Html.DisplayFor(modelItem => al);
                                    }
                                }
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => Model[i].geneAllele[j].copyNumber)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => Model[i].geneAllele[j].probability)
                            </td>
                            <td>
                                @Ajax.ActionLink(" ", "ShowAssaysAndCallsOfPatient", "Patient", new { projectId = @Model[i].geneAllele[j].projectId, patientId = @Model[i].patientId, geneId = @Model[i].geneAllele[j].geneId }, new AjaxOptions { UpdateTargetId = "tableAssaysCalls", HttpMethod = "POST", InsertionMode = InsertionMode.Replace, OnBegin = "startLoading('ajaxBusy2')", OnComplete = "stopLoading('ajaxBusy2');" }, new { @onclick = "modalTitleAndData('" + @Model[i].patientName + "' , '" + @Model[i].geneAllele[j].geneName + "','" + @Model[i].geneAllele[j].projectId + "','" + @Model[i].patientId + "','" + @Model[i].geneAllele[j].geneId + "');", @class = "btn btn-primary fa fa-eye", data_toggle = "modal", data_target = "#divModal" })
                            </td>

                            <td>
                                @Ajax.ActionLink(" ", "PatientGenoTypeRecommendation", "Patient", new { projectId = @Model[i].geneAllele[j].projectId, patientId = @Model[i].patientId, geneId = @Model[i].geneAllele[j].geneId }, new AjaxOptions { UpdateTargetId = "tableAssaysCalls", HttpMethod = "POST", InsertionMode = InsertionMode.Replace, OnBegin = "startLoading('ajaxBusy2')", OnComplete = "stopLoading('ajaxBusy2');" }, new { @onclick = "modalTitleAndData('" + @Model[i].patientName + "' , '" + @Model[i].geneAllele[j].geneName + "','" + @Model[i].geneAllele[j].projectId + "','" + @Model[i].patientId + "','" + @Model[i].geneAllele[j].geneId + "');", @class = "btn btn-primary fa fa-eye", data_toggle = "modal", data_target = "#divModal" })
                            </td>


                        </tr>
                    }
                }
            </tbody>
        </table>
      
    </div>

    <div class="row btn-export-output">
        <a id="excel" href="@Url.Action("ExportPatientsGenesAllelesToExcel", "Patient")" class="btn btn-primary" onclick="reSubmitForm();@{ TempData["PatientListGeneAllele"] = Model; }">Export</a>

    </div>

    <div id="divModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content project-list-container">
                <div class="modal-header">
                    <button id="close-btn" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 id="modalTitle" class="modal-title"></h4>
                </div>
                <div class="modal-body project-list-container">
                    <div id="ajaxBusy2" style="display: inline-block; position: absolute; padding-left: 38%">
                        <p>
                            <img src="../../Content/themes/base/images/ring-alt.gif" alt="Loading..." />
                        </p>
                    </div>
                    <input id="modalProjectId" type="hidden" />
                    <input id="modalPatientId" type="hidden" />
                    <input id="modalGeneId" type="hidden" />
                    <div id="tableAssaysCalls">
                    </div>
                </div>
            </div>
        </div>
    </div>
    }
    else if (Model != null && Model.Count == 0)
    {
        <div class="tablePatients">
            <table id="tablePatientsInner" class="cell-border table-striped table-r">
                <thead class="thead-inverse">
                    <tr>
                        <th>Project Name</th>
                        <th>Patient</th>
                        <th>Gene</th>
                        @*<th>Parent Gene</th>*@
                        <th>Allele</th>
                        <th>Copy Number</th>
                        <th>Probability</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    }

    <script type="text/javascript">
        function modalTitleAndData(patientName, geneName, projectId, patientId, geneId) {
            $("#modalTitle").text("Patient Name: " + patientName + " , Gene Name: " + geneName);
            $("#modalProjectId").val(projectId);
            $("#modalPatientId").val(patientId);
            $("#modalGeneId").val(geneId);
        }

        $(document).ready(function() 
        {
            debugger;

            
            $('.modal').on('hidden.bs.modal',
                function(e) 
                {
                    $("#tableAssaysCalls").empty();
                });
            $('.modal').on('shown.bs.modal',
                function(e) {
                    $('.modal-body').scrollTop(0);
                });
        });

        function alleleList(patient, gene, alleles) 
        {
            var allelesList = alleles.split(',');
            window.startLoading('ajaxBusy2');
            var numberOfColumns = 3;
            var numberOfRows = Math.ceil(allelesList.length / 3);
            $("#modalTitle").text("Patient Name: " + patient + " , Gene Name: " + gene + " , Probability");
            var m = 0;
            var table = $('<table></table>').addClass('table table-bordered cell-border table-striped table-r');
            for (var i = 0; i < numberOfRows; i++) {
                var row = $('<tr></tr>');
                for (var j = 0; j < numberOfColumns; j++) {
                    var td;
                    if (m < allelesList.length) {
                        td = $('<td></td>').text(allelesList[m]);
                    } else {
                        td = $('<td></td>');
                    }
                    m++;
                    row.append(td);
                }
                table.append(row);
            }
            $('#tableAssaysCalls').append(table);
            window.stopLoading('ajaxBusy2');
        }

        function reSubmitForm() {
            var form = $('#form0');
            form.submit();
            $link = $('#excel');
            location.href = $link.attr('href');
        }
    </script>

<style>
    .modal-body {
        min-height: 170px;
        max-height: calc(100vh - 200px);
        overflow-y: auto;
    }
</style>