﻿@using Microsoft.Owin.Security.Notifications
@using Pharmacogenetics.Models.ViewModels
@model List<Pharmacogenetics.Models.ViewModels.PatientGeneAlleleViewModel>
@{
    ViewBag.Title = "Home Page";
}



<div class="wraper-main-container">

    <div class="wraper-inner-container">


        <div class="row">
            <h1>Patient Output</h1>
            @*<h1>Filter By</h1>*@
        </div>
        <div class="row">
            @using (Ajax.BeginForm("FilterByPatientAndGene", "Patient", new AjaxOptions { UpdateTargetId = "tablePatients", HttpMethod = "POST", InsertionMode = InsertionMode.Replace, OnBegin = "startLoading('ajaxBusy1')", OnComplete = "divDataTable();stopLoading('ajaxBusy1');" }))
            {
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">


                            @Html.Label("Project", htmlAttributes: new { @class = "control-label col-md-2" })
                            @Html.ListBox("ddlProjectId", new SelectList(ViewBag.ProjectsList, "key", "value", ViewBag.ProjectsListSelectedItem), new { name = "ddlProjectId", @onchange = "$(this.form).submit();", @class = "selectAuto form-control" })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">

                            @Html.Label("Patient", htmlAttributes: new { @class = "control-label col-md-2" })
                            @Html.ListBox("ddlPatientId", new SelectList(ViewBag.PatientsList, "key", "value"), new { name = "ddlPatientId", @onchange = "$(this.form).submit();", @class = "selectAuto form-control" })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            @Html.Label("Gene", htmlAttributes: new { @class = "control-label col-md-2" })
                            @Html.ListBox("ddlGeneId", new SelectList(ViewBag.GenesList, "key", "value"), new { name = "ddlGeneId", @onchange = "$(this.form).submit();", @class = "selectAuto form-control" })
                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="col-md-4">
                        <div class="form-group">

                            @Html.Label("Allele 1", htmlAttributes: new { @class = "control-label col-md-12" })
                            @Html.ListBox("ddlAllele1Id", new SelectList(ViewBag.AllelesList, "key", "value"), new { name = "ddlAllele1Id", @onchange = "$(this.form).submit();", @class = "selectAuto form-control" })
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            @Html.Label("Allele 2", htmlAttributes: new { @class = "control-label col-md-12" })
                            @Html.ListBox("ddlAllele2Id", new SelectList(ViewBag.AllelesList, "key", "value"), new { name = "ddlAllele2Id", @onchange = "$(this.form).submit();", @class = "selectAuto form-control" })
                        </div>
                    </div>

                    <div class="col-md-4">
                        @Html.Label("Allele", htmlAttributes: new { @class = "control-label col-md-12" })
                        <div class="form-group col-md-6">
                            <h4>
                                @Html.CheckBox("cbAlleleUndefined", false, new { id = "cbAlleleUndefined", @checked = ViewBag.Undefined, name = "cbAlleleUndefined", @onchange = "dimAllelesList($(this.form))" })
                                Undefined
                            </h4>


                        </div>
                        <div class="form-group col-md-6">
                            <h4>
                                @Html.CheckBox("cbAlleleProbability", false, new { id = "cbAlleleProbability", @checked = ViewBag.Probability, name = "cbAlleleProbability", @onchange = "showAllelesList($(this.form))" })


                                Probability


                            </h4>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="row">


            <div>
                <div id="tablePatients">
                    <div class="clear">
                    </div>

                    @Html.Partial("PatientGeneAlleleGridPartial", (List<PatientGeneAlleleViewModel>)ViewBag.Patients)

                <div id="ajaxBusy1" style="position: absolute;left: 50%; top: 50%;display:none">
                    <p>
                        <img src="../../Content/themes/base/images/ring-alt.gif" alt="Loading..." />
                    </p>
                </div>
                </div>
            </div>
            </div>




    </div>
</div>


<script type="text/javascript">
    function divDataTable() {
        $('#tablePatientsInner').dataTable({
            retrieve: true,
            columnDefs: [
                { type: 'Alphanumeric', targets: 1 },
                { type: 'allele-text-numeric', targets: 3 },
                { type: 'checkbox', targets: 5 },
                { "targets": 6, "orderable": false }
            ]
        });
    }

    function dimAllelesList(form) {
        if ($('#cbAlleleUndefined').is(":checked")) {
            $('#ddlAllele1Id').val('').select2({
                placeholder: "-- Select --",
                allowClear: true
            });
            $('#ddlAllele2Id').val('').select2({
                placeholder: "-- Select --",
                allowClear: true
            });
            $('#ddlAllele1Id').prop('disabled', true);
            $('#ddlAllele2Id').prop('disabled', true);
            $('#cbAlleleProbability').prop('checked', false);
        } else {
            $('#ddlAllele1Id').prop('disabled', null);
            $('#ddlAllele2Id').prop('disabled', null);
        }
        form.submit();
    }

    function showAllelesList(form) {
        if ($('#cbAlleleProbability').is(":checked")) {
            $('#ddlAllele1Id').prop('disabled', null);
            $('#ddlAllele2Id').prop('disabled', null);
            $('#cbAlleleUndefined').prop('checked', false);
        }
        form.submit();
    }

</script>
