﻿@model List<Pharmacogenetics.Models.ViewModels.PatientGeneAlleleViewModel>
@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <h2>Patient Output Report</h2>
    <h3>Filter By</h3>
</div>
<div class="row">
    @using (Ajax.BeginForm("FilterByPatientInReport", "Patient", new AjaxOptions { OnBegin = "startLoading('ajaxBusy1')", OnFailure = "stopLoading('ajaxBusy1');", OnSuccess = "stopLoading('ajaxBusy1');RenderPartial(data);divDataTable();" }))
    {
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <h4>Patient</h4>
                    @Html.ListBox("ddlPatientId", new SelectList(ViewBag.PatientsList, "key", "value"), new { name = "ddlPatientId", @onchange = "$(this.form).submit();", @class = "selectAuto form-control" })
                </div>
            </div>
        </div>
    }
</div>
<br />
<div class="row">
    <div id="tablePatients">
    </div>

    <div id="ajaxBusy1" style="position: absolute;left: 50%; top: 50%;display:none">
        <p>
            <img src="../../Content/themes/base/images/ring-alt.gif" alt="Loading..." />
        </p>
    </div>
</div>

<script>
    function divDataTable() {
        $('#tablePatientsReportInner').dataTable({
            columnDefs: [{ type: 'Alphanumeric', targets: 0 }]
        });
    }

    function RenderPartial(data) {
        if (data.Success) {
            $("#tablePatients").html(data.PartialViewHtml);
            LoadChart(data.model.Data);
        }
    }
</script>



<script type="text/javascript">
    function LoadChart(data) {

        if (data != null) {
            var col1 = [];
            var col2 = [];
            var col3 = [];
            for (var i = 0; i < data.length; i++) {
                col1.push({ label: data[i].patientName, y: data[i].geneCount });
                col2.push({ label: data[i].patientName, y: data[i].definedAllele });
                col3.push({ label: data[i].patientName, y: data[i].undefinedAllele });
            }
            var chart = new CanvasJS.Chart("chartContainer",
            {
                zoomEnabled: true,
                exportEnabled: true,
                theme: "theme3",
                animationEnabled: true,
                title: {
                    text: "Genes Count and Alleles Count of Patients",
                    fontSize: 30
                },
                toolTip: {
                    shared: true
                },
                axisY: {
                    title: "Genes Count"
                },
                axisY2: {
                    title: "Patients Names"
                },
                data: [
                    {
                        type: "column",
                        name: "Genes Count",
                        legendText: "Genes Count",
                        showInLegend: true,
                        dataPoints: col1
                    },
                    {
                        type: "column",
                        name: "Defined Alleles Count",
                        legendText: "Defined Alleles Count",
                        showInLegend: true,
                        dataPoints: col2
                    },
                    {
                        type: "column",
                        name: "Undefined Alleles Count",
                        legendText: "Undefined Alleles Count",
                        showInLegend: true,
                        dataPoints: col3
                    }

                ],
                legend: {
                    cursor: "pointer",
                    itemclick: function (e) {
                        if (typeof (e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
                            e.dataSeries.visible = false;
                        }
                        else {
                            e.dataSeries.visible = true;
                        }
                        chart.render();
                    }
                }
            });

            chart.render();
        }
    }
</script>
<script type="text/javascript" src="~/Scripts/canvasjs.min.js"></script>

