﻿@model System.Collections.Generic.List<Pharmacogenetics.Models.ViewModels.PatientGeneAlleleViewModel>

@if (Model != null && Model.Count != 0)
{
    <div id="chartContainer" style="height: 300px; width: 100%;">
    </div>
    <div class="tablePatients">
        <table id="tablePatientsReportInner" class="cell-border table-striped">
            <thead class="thead-inverse">
            <tr>
                <th>Patient</th>
                <th>Number of Genes</th>
                <th>Number of Defined Alleles</th>
                <th>Number of Undefined Alleles</th>
            </tr>
            </thead>
            <tbody>

            @for (int i = 0; i < Model.Count; i++)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => Model[i].patientName)
                    </td>

                    <td>
                        @Html.Raw(Model[i].geneAllele.Count)
                    </td>
                    <td>
                        @Html.Raw(Model[i].geneAllele.Count(x => x.alleleName != "UND" && x.alleleName != "-"))
                    </td>
                    <td>
                        @Html.Raw(Model[i].geneAllele.Count(x => x.alleleName == "UND" || x.alleleName == "-"))
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
    <a id="excel" href="@Url.Action("ExportReportToExcel", "Patient")" class="btn btn-primary" onclick="@{ TempData["ReportTableData"] = Model; }">Export</a>
}
