﻿@model Pharmacogenetics.Website.Models.ViewModels.PatientTrainDataViewModel

@{
    ViewBag.Title = "Upload Train Data";
}
<h2>Upload Train Data</h2>
<div class="col-md-6 col-md-offset-3">

    <div class="uploader">
        @using (Html.BeginForm("UploadTrainData", "Patient", FormMethod.Post, new { enctype = "multipart/form-data", id = "frmUploadTrainFile" }))
        {
            @Html.AntiForgeryToken()

            @Html.TextBoxFor(model => model.FileUpload, new { type = "file", data_val = "true", data_val_required = "The FileUpload field is required." })
            @Html.ValidationMessageFor(model => model.FileUpload)

            <input value="Upload" class="btn btn-primary upload" type="submit">
        }

    </div>
</div>

<br />
<div id="messageParsing">
    <div id="ajaxBusy1" style="position: absolute;left: 50%; top: 50%;display:none">
        <p>
            <img src="../../Content/themes/base/images/ring-alt.gif" alt="Loading..." />
        </p>
    </div>
</div>


<div id="detialsDivMessage" style="display:none">
    <button data-toggle="collapse" data-target="#demo">Details</button>

    <div id="demo" class="collapse">
        <div id="messageInnerParsing">

        </div>
    </div>
</div>




@section scripts{
    <script type="text/javascript">
        var actionUpload = '@Url.Action("UploadTrainDataJson", "Patient")';
        var actionUploadStatus = '@Url.Action("UploadTrainDataStatusJson", "Patient")';
        var imageUploadPath = '@Url.Content("~/Content/themes/phrma/imgs/fileuploader-dragdrop-icon.png")';
        var flagStatusShow = false;
        var idleInterval = null;
        var dataFile = null;
        //$('input[name="FileUpload"]').fileuploader({
        //    // Options will go here
        //});

        $(document).ready(function () {
            // enable fileuploader plugin
            $('input[name="FileUpload"]').fileuploader({
                changeInput: '<div class="fileuploader-input">' +
                                  '<div class="fileuploader-input-inner">' +
                                      '<img src="' + imageUploadPath + '">' +
                                      '<h3 class="fileuploader-input-caption"><span>Drag and drop files here</span></h3>' +
                                      '<p>or</p>' +
                                      '<div class="fileuploader-input-button"><span>Browse Files</span></div>' +
                                  '</div>' +
                              '</div>',
                theme: 'dragdrop',
                extensions: ['txt', 'csv', 'xls', 'xlsx'],
                upload: {
                    //url: 'php/ajax_upload_file.php',
                    data: null,
                    type: 'POST',
                    enctype: 'multipart/form-data',
                    start: true,
                    synchron: true,
                    beforeSend: null,
                    onSuccess: function (result, item) {
                        var data = JSON.parse(result);

                        // if success
                        if (data.isSuccess && data.files[0]) {
                            item.name = data.files[0].name;
                        }

                        // if warnings
                        if (data.hasWarnings) {
                            for (var warning in data.warnings) {
                                alert(data.warnings);
                            }

                            item.html.removeClass('upload-successful').addClass('upload-failed');
                            // go out from success function by calling onError function
                            // in this case we have a animation there
                            // you can also response in PHP with 404
                            return this.onError ? this.onError(item) : null;
                        }

                        item.html.find('.column-actions').append('<a class="fileuploader-action fileuploader-action-remove fileuploader-action-success" title="Remove"><i></i></a>');
                        setTimeout(function () {
                            item.html.find('.progress-bar2').fadeOut(400);
                        }, 400);
                    },
                    onError: function (item) {
                        var progressBar = item.html.find('.progress-bar2');

                        if (progressBar.length > 0) {
                            progressBar.find('span').html(0 + "%");
                            progressBar.find('.fileuploader-progressbar .bar').width(0 + "%");
                            item.html.find('.progress-bar2').fadeOut(400);
                        }

                        item.upload.status != 'cancelled' && item.html.find('.fileuploader-action-retry').length == 0 ? item.html.find('.column-actions').prepend(
                            '<a class="fileuploader-action fileuploader-action-retry" title="Retry"><i></i></a>'
                        ) : null;
                    },
                    onProgress: function (data, item) {
                        debugger;
                        dataFile = item.file;
                        var progressBar = item.html.find('.progress-bar2');

                        if (progressBar.length > 0) {
                            progressBar.show();
                            progressBar.find('span').html(data.percentage + "%");
                            progressBar.find('.fileuploader-progressbar .bar').width(data.percentage + "%");
                        }
                    },
                    onComplete: null,
                },
                onRemove: function (item) {
                    //$.post('./php/ajax_remove_file.php', {
                    //    file: item.name
                    //});
                },
                captions: {
                    feedback: 'Drag and drop files here',
                    feedback2: 'Drag and drop files here',
                    drop: 'Drag and drop files here'
                },
            });

        });

        $("#frmUploadTrainFile").submit(function (e) {
            debugger;
            startLoading('ajaxBusy1');
            e.preventDefault();
            //var fileInput = document.getElementById('FileUpload');
            //var files = fileInput.files;
            //var myID = 3; //uncomment this to make sure the ajax URL works
            var data = new FormData();
            data.append("file" + 0, dataFile);
            $.ajax({
                type: "POST",
                url: actionUpload,
                contentType: false,
                processData: false,
                data: data,
                async: true,
                beforeSend: function (XMLHttpRequest) {
                    //flagStatusShow = true;
                    //var idleInterval = setInterval(timerIncrement, 1000); // 1 minute
                },
                success: function (result) {

                    //flagStatusShow = false;
                    flagStatusShow = true;
                    idleInterval = setInterval(function () { timerIncrement(result.uploadStatusKey); }, 1000); // 1 minute
                    console.log(result);
                },
                error: function (xhr, status, p3, p4) {
                    flagStatusShow = false;
                    var err = "Error " + " " + status + " " + p3 + " " + p4;
                    if (xhr.responseText && xhr.responseText[0] == "{")
                        err = JSON.parse(xhr.responseText).Message;
                    console.log(err);
                }
            });
        });


        function timerIncrement(uploadStatusKey) {
            //debugger;
            $.ajax({
                type: "GET",
                url: actionUploadStatus + "/" + uploadStatusKey,
                contentType: false,
                processData: false,
                data: uploadStatusKey,
                //async: true,
                success: function (result) {
                    if (flagStatusShow) {
                        if (result.breifStatus.length > 0)
                            stopLoading('ajaxBusy1');
                        $("#messageParsing").html(result.breifStatus.join("<br />"));
                        //$("#messageParsing").text(result.join("<br />"));
                        console.log(result);
                        if (result.breifStatus[result.breifStatus.length - 1] == "Error" || result.breifStatus[result.breifStatus.length - 1] == "Complete") {
                            clearInterval(idleInterval);
                            flagStatusShow = false;
                            //$("#detialsDivMessage").show();
                            //$("#messageInnerParsing").html(result.logStatus.join("<br />"));
                        }
                    }
                },
                error: function (xhr, status, p3, p4) {
                    var err = "Error " + " " + status + " " + p3 + " " + p4;
                    if (xhr.responseText && xhr.responseText[0] == "{")
                        err = JSON.parse(xhr.responseText).Message;
                    console.log(err);
                }
            });
        }
    </script>
}
