$white:#FFF;
$body:transparent;
$black:#000;
$shadow:rgba(0,0,0,0.6);
$shadow-1:rgba(0,0,0,0.2);
$white-transparent:rgba(255,255,255,0.7);
$gry:#3c3c3c;
$d-15:15px;
$color1:#e9a724;
$color2:#db8a26;
$color-3:#2083c4;
$border-r-30:30px;
$shadow-color1:rgba(233,167,36,0.8);
$d-20:20px;
body {
    padding-top: 50px;
    padding-bottom: 20px;
	background-color:$body;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.navbar-brand{
font-weight: bold;
}
.navbar-brand img{
	width: 80px;
	text-shadow: 0px 0px 10px $white;
}

.fa{
	margin-right:$d-15;
}

nav {
	ul{
		li{
		a{
			color:$white;
		}
		a:hover{
			background: none !important;
			color:$color1;
		}
		}
		li:hover{
			background: none!important;
		}
	}
}


.banner{
	width: 100%;	
    background-image: url(../imgs/hospital.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100%;
	background-attachment: fixed;
	height: auto;
	top: 0px;
	bottom: 0px;
	position: fixed;
	
	.caption-banner{
		position: absolute;
top: 35%;
text-align: center;
width: 100%;
		
		h1{
			color:$white;
			font-weight: bolder;
			text-shadow: 0 0 10px $shadow;
			font-size: 5em;
			
		}
		
		p{
			width:40%;
			color:$white;
			text-shadow: 0 0 4px $shadow;
			margin:10px auto;
			font-weight: bold;
		}
		.btn-start{
			background-color: $color1;
			border-radius: $border-r-30;
			padding:16px 60px;
			box-shadow: 0 0px 5px $shadow-color1;
			color:$white;
			transition: all ease-in-out 0.2s;
			margin-top: $d-20;
		}
		.btn-start:hover{
			box-shadow: 0 5px 10px $shadow-color1;
			background-color: $color2;
		}
	}
}


/* inside pages */

.navbar-default {
	box-shadow: 0px 10px 15px $shadow-1;
}
.uploader{
	margin-top: 10%;
	.upload{
		display: block;
		width: 100%;
		margin: 10px auto;
	}
}

#divMessage{
	display: none;
	margin-top: 20%;
}

.fileuploader-input-button{
	background: $color1;
}
.fileuploader-input-button:hover{
	background: $color2;
}

.tablePatients{
	margin-top: 10% !important;
}

footer{
	bottom: 0px;
	padding: 5px 30px;
	background-color: $color-3;
	position: fixed;
	width: 100%;
	color:$white;
	z-index: 999;
	p{
		margin: 0px;
	}
}