﻿<!Doctype html>
<html lang="en" dir="ltr" >
<head>
    <title>Pharmacogenatics</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @*@Styles.Render("~/Content/css")*@
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/css/pharma")
    @Styles.Render("~/Content/css/pharma/datatables")

    @*<link href="~/Content/themes/phrma/css/Custom-Style.css" rel="stylesheet" />*@

    <link href="~/Content/css/select2.css" rel="stylesheet" />

    @*<link href="css/style.css" rel="stylesheet" />
        <link href="vendors/drag-drop/css/jquery.fileuploader-theme-dragdrop.css" rel="stylesheet" />
        <link href="vendors/drag-drop/src/jquery.fileuploader.css" />*@


    @{
        var urlHelper = new UrlHelper(Html.ViewContext.RequestContext);
        var baseurl = urlHelper.Content("~");
    }



</head>

<body  class="bodyFixedBg">

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@baseurl">Pharmacogenetics</a>

            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right navbar-brand">
                    
                    <li>@Html.ActionLink("Project List", "ProjectPage", "Project", new { Area = "ProjectManagement" }, new { })</li>
                    <li>@Html.ActionLink("Patient Output", "PatientOutput", "Patient", new { Area = "PatientManagement" }, new { })</li>
                    <li>@Html.ActionLink("Translator Output", "TranslatorOutput", "Translator", new { Area = "TranslatorManagement" }, new { })</li>

                    @*<li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Translator<b class="caret"></b></a>
                <ul class="dropdown-menu multi-level">
                    <li>@Html.ActionLink("Upload Translator", "UploadTranslatorData", "Translator", new { Area = "TranslatorManagement" }, new { })</li>
                </ul>
            </li>

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Patient<b class="caret"></b></a>
                <ul class="dropdown-menu multi-level">
                    <li>@Html.ActionLink("Upload Train Data", "UploadTrainData", "Patient", new { Area = "PatientManagement" }, new { })</li>
                    <li>@Html.ActionLink("Upload Copy Number Data", "UploadCopyNumberData", "Patient", new { Area = "PatientManagement" }, new { })</li>
                </ul>
            </li>*@

                    @*<li><a href="upload.html"><span class="fa fa-upload"></span>Upload Train Data</a></li>
            <li><a href="patient-output.html"><span class="fa fa-address-book-o"></span>Patient Output</a></li>
            <li><a href="patient-report.html"><span class="fa fa-file-text"></span>Patient report</a></li>*@

                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>



    <div class="container">
        <div class="row">
            <br />
            <br />
            <br />
            @if (ViewData["Error"] != null)
            {
                <div id="divMessagePharma" class="container first_wrapper bg-success text-danger alert alert-danger">
                    <span style="float: right; cursor: pointer" onclick="CloseMessage('divMessagePharma')" title="Hide the message">×</span>
                    <p id="messageText" style="font-size: 18px; font-weight: bold;">@Html.Raw(ViewData["Error"].ToString())</p>
                </div>
            }
            @if (TempData["Success"] != null)
            {
                <div id="divMessagePharma" class="container first_wrapper bg-success text-success alert alert-success">
                    <span style="float: right; cursor: pointer" onclick="CloseMessage('divMessagePharma')" title="Hide the message">×</span>
                    <p id="messageText" style="font-size: 18px; font-weight: bold;">@Html.Raw(TempData["Success"].ToString())</p>
                </div>
            }
            
            <div id="divClientMessagePharma" class="container first_wrapper bg-success text-success alert alert-success" style="display:none">
                <span style="float: right; cursor: pointer" onclick="CloseMessage('divMessagePharma')" title="Hide the message">×</span>
                <p id="messageClientText" style="font-size: 18px; font-weight: bold;"></p>
            </div>

            @RenderBody()
            <br />
            <br />
            <br />
        </div>
    </div>

    <div class="modal fade modalConfirmationMsg" id="deleteConfirmation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header bg-danger">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="popUpUserHeader">Confirm Delete</h4>
                </div>
                <div class="modal-body" style="text-align: center">
                    <span id="msgBody"></span>
                </div>
                <div class="modal-footer">
                    <button id="btnOkDelete" type="button" data-dismiss="modal" class="btn btn-success">Yes</button>
                    <button id="btnCancelModal" type="button" onclick="javascript: $('#deleteConfirmation').modal('hide')" class="btn btn-danger">NO</button>
                </div>
            </div>
        </div>
    </div>

    @RenderSection("banner", required: false)


    <footer>
        <p>© 2017 - by Alterna Company 2017</p>
    </footer>
    @*Phrma Design
        <script src="js/jquery.js"></script>
        <script src="js/bootstrap.js"></script>*@

    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<script src="~/Scripts/select2.js"></script>
<script>
    $(function() {
        $(".selectAuto").select2({
            placeholder: "-- Select --",
            allowClear: true
        });
    });
</script>

<script>
    function startLoading(id) {
        $('#' + id).show();
    }
    function stopLoading(id) {
        $('#' + id).hide();
    }
</script>

    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/common")
    @Scripts.Render("~/bundles/js/pharma")
    @Scripts.Render("~/bundles/js/pharma/datatables")
    
<script>
    jQuery.fn.dataTableExt.oSort['allele-text-numeric-asc'] = function (a, b) {
        var alleleASplitted = false;
        var alleleBSplitted = false;
        var allelesA = a.split('/');
        var alleleA1 = "";
        var alleleA2 = "";
        if (allelesA.length == 1) {
        } else if (allelesA.length == 2) {
            alleleASplitted = true;
            alleleA1 = allelesA[0].replace('*', "");
            alleleA2 = allelesA[1].replace('*', "");
        } else {
            alleleASplitted = true;
            alleleA1 = allelesA[0].replace('[', "");
            alleleA1 = alleleA1.replace('*', "");
            alleleA2 = allelesA[1].replace('*', "");
            alleleA2 = alleleA2.split(',')[0];
        }

        var allelesB = b.split('/');
        var alleleB1 = "";
        var alleleB2 = "";
        if (allelesB.length == 1) {
        } else if (allelesB.length == 2) {
            alleleBSplitted = true;
            alleleB1 = allelesB[0].replace('*', "");
            alleleB2 = allelesB[1].replace('*', "");
        } else {
            alleleBSplitted = true;
            alleleB1 = allelesB[0].replace('[', "");
            alleleB1 = alleleB1.replace('*', "");
            alleleB2 = allelesB[1].replace('*', "");
            alleleB2 = alleleB2.split(',')[0];
        }
        if (alleleASplitted && alleleBSplitted){
            var sorta1=sortAsc(alleleA1, alleleB1);
            var sorta2 = sortAsc(alleleA2, alleleB2);
            return sorta1 + (sorta2 / 10);
        }
        else if (alleleASplitted) {
            return -1;
        }
        else if (alleleBSplitted) {
            return 1;
        } else {
            return 0;
        }

    }

    jQuery.fn.dataTableExt.oSort['allele-text-numeric-desc'] = function (a, b) {
        var alleleASplitted = false;
        var alleleBSplitted = false;
        var allelesA = a.split('/');
        var alleleA1 = "";
        var alleleA2 = "";
        if (allelesA.length == 1) {
        } else if (allelesA.length == 2) {
            alleleASplitted = true;
            alleleA1 = allelesA[0].replace('*', "");
            alleleA2 = allelesA[1].replace('*', "");
        }
        else {
            alleleASplitted = true;
            alleleA1 = allelesA[0].replace('[', "");
            alleleA1 = alleleA1.replace('*', "");
            alleleA2 = allelesA[1].replace('*', "");
            alleleA2 = alleleA2.split(',')[0];
        }

        var allelesB = b.split('/');
        var alleleB1 = "";
        var alleleB2 = "";
        if (allelesB.length == 1) {
        } else if (allelesB.length == 2) {
            alleleBSplitted = true;
            alleleB1 = allelesB[0].replace('*', "");
            alleleB2 = allelesB[1].replace('*', "");
        } else {
            alleleBSplitted = true;
            alleleB1 = allelesB[0].replace('[', "");
            alleleB1 = alleleB1.replace('*', "");
            alleleB2 = allelesB[1].replace('*', "");
            alleleB2 = alleleB2.split(',')[0];
        }
        if (alleleASplitted && alleleBSplitted){
            var sorta1 = sortDesc(alleleA1, alleleB1);
            var sorta2 = sortDesc(alleleA2, alleleB2);
            return sorta1 + (sorta2 / 10);
        }
        else if (alleleASplitted && !alleleBSplitted) {
            return 1;
        }
        else if (!alleleASplitted && alleleBSplitted) {
            return -1;
        } else {
            return 0;
        }
    }
    
    jQuery.fn.dataTableExt.oSort['Alphanumeric-asc'] = function (a, b) {
        return sortAsc(a, b);
    }

    jQuery.fn.dataTableExt.oSort['Alphanumeric-desc'] = function (a, b) {
        return sortDesc(a, b);
    }

    function sortAsc(a, b) {
        var reA = /[^a-zA-Z]/g;
        var reN = /[^0-9]/g;
        var aNumCond = $.isNumeric(a);
        var bNumCond = $.isNumeric(b);
        var aAlphapetCond = a.match("^[a-zA-Z\(\)]+$") != null;
        var bAlphapetCond = b.match("^[a-zA-Z\(\)]+$") != null;
        var aN = parseInt(a.replace(reN, ""));
        var bN = parseInt(b.replace(reN, ""));
        var aA = a.replace(reA, "");
        var bA = b.replace(reA, "");
        if (!aNumCond && !bNumCond) {
            if (!aAlphapetCond && !bAlphapetCond) {
                if (aN === bN) {
                    return aA === bA ? 0 : aA > bA ? 1 : -1;
                } else { return aN > bN ? 1 : -1; }
            }
            else if (aAlphapetCond && !bAlphapetCond) { return 1; }
            else if (!aAlphapetCond && bAlphapetCond) {
                return -1;
            } else {
                return aA === bA ? 0 : aA > bA ? 1 : -1;
            }
        }
        else if (!aNumCond && bNumCond) {
            if (aAlphapetCond) {
                return 1;
            } else {
                if (aN === bN) {
                    return 1;
                } else { return aN > bN ? 1 : -1; }
            }
        } else if (aNumCond && !bNumCond) {
            if (bAlphapetCond) {
                return -1;
            } else {
                if (aN === bN) {
                    return -1;
                } else { return aN > bN ? 1 : -1; }
            }
        } else {
            return aN === bN ? 0 : aN > bN ? 1 : -1;
        }
    }

    function sortDesc(a, b) {
        var reA = /[^a-zA-Z]/g;
        var reN = /[^0-9]/g;
        var aNumCond = $.isNumeric(a);
        var bNumCond = $.isNumeric(b);
        var aAlphapetCond = a.match("^[a-zA-Z\(\)]+$") != null;
        var bAlphapetCond = b.match("^[a-zA-Z\(\)]+$") != null;
        var aN = parseInt(a.replace(reN, ""));
        var bN = parseInt(b.replace(reN, ""));
        var aA = a.replace(reA, "");
        var bA = b.replace(reA, "");

        if (!aNumCond && !bNumCond) {
            if (!aAlphapetCond && !bAlphapetCond) {
                if (aN === bN) {
                    return aA === bA ? 0 : aA > bA ? -1 : 1;
                } else { return aN > bN ? -1 : 1; }
            }
            else if (aAlphapetCond && !bAlphapetCond) { return -1; }
            else if (!aAlphapetCond && bAlphapetCond) {
                return 1;
            } else {
                return aA === bA ? 0 : aA > bA ? -1 : 1;
            }
        }
        else if (!aNumCond && bNumCond) {
            if (aAlphapetCond) {
                return -1;
            } else {
                if (aN === bN) {
                    return -1;
                } else { return aN > bN ? -1 : 1; }
            }
        } else if (aNumCond && !bNumCond) {
            if (bAlphapetCond) {
                return 1;
            } else {
                if (aN === bN) {
                    return 1;
                } else { return aN > bN ? -1 : 1; }
            }
        } else {
            return aN === bN ? 0 : aN > bN ? -1 : 1;
        }
    }
</script>
<script>
    function checkboxCompare(a, b) {
        var aId = $(a).data('app-id'),
            bId = $(b).data('app-id'),
            aChecked = $('.migrateCheck[data-app-id=' + aId + ']:checked').length,
            bChecked = $('.migrateCheck[data-app-id=' + bId + ']:checked').length;

        if (aChecked && !bChecked) return -1;
        else if (!aChecked && bChecked) return 1;

        return 0;
    }

    jQuery.extend(jQuery.fn.dataTableExt.oSort, {
        "checkbox-pre": function (a) {
            return a;
        },

        "checkbox-asc": function (a, b) {
            return checkboxCompare(a, b);
        },

        "checkbox-desc": function (a, b) {
            return checkboxCompare(b, a);
        }
    });
</script>

<script type="text/javascript">
    function CloseMessage(divMessagePharma) {
        $('#' + divMessagePharma).stop().fadeOut("slow");
    }
    //$("select").chosen({ search_contains: true });

    //$(document).ajaxStart(function () {
    //    //alert("ajaxStart");
    //    $('#ajaxBusy').show();
    //});
    //$(document).ajaxStop(function () {
    //    //alert("ajaxStop");
    //    $('#ajaxBusy').hide();
    //});

    $(document).ready(function () {
        $('body').append('<div id="ajaxBusy" style="display:none"><p><img src="../../Content/themes/base/images/ring-alt.gif" alt="Loading..."/></p></div>');

        $('#ajaxBusy').css({
            display: "none",
            margin: "0px",
            paddingLeft: "0px",
            paddingRight: "0px",
            paddingTop: "0px",
            paddingBottom: "0px",
            position: "absolute",
            left: "50%",
            top: "50%",
            width: "auto"
        });
    });

</script>
<script>
    $(document).ready(function () {
        $('#tableProjectsInner').dataTable({
            retrieve: true,
            columnDefs: [
                { "targets": 4, "orderable": false },
                { "targets": 5, "orderable": false },
                { "targets": 6, "orderable": false },
                { "targets": 7, "orderable": false },
                { "targets": 8, "orderable": false }]
        });
    });
</script>
<script>
    $(document).ready(function () {
        $('#tablePatientsInner').dataTable({
            retrieve: true,
            columnDefs: [
                { type: 'Alphanumeric', targets: 1 },
                { type: 'allele-text-numeric', targets: 3 },
                { type: 'checkbox', targets: 5 },
                { "targets": 6, "orderable": false }
            ]
        });
    });
</script>
<script>
    $(document).ready(function () {
        $('#tableGeneAlleleInner').dataTable({
            columnDefs: [
                { type: 'allele-text-numeric', targets: 2 },
                { "targets": 3, "orderable": false }
            ]
        });
    });
</script>
    @RenderSection("scripts", required: false)
</body>
</html>