﻿<!Doctype html>
<html lang="en" dir="ltr">
<head>
    <title>Pharmacogenatics</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/css/pharma")

    @*<link href="css/style.css" rel="stylesheet" />
        <link href="vendors/drag-drop/css/jquery.fileuploader-theme-dragdrop.css" rel="stylesheet" />
        <link href="vendors/drag-drop/src/jquery.fileuploader.css" />*@
    @{
        var urlHelper = new UrlHelper(Html.ViewContext.RequestContext);
        var baseurl = urlHelper.Content("~");
    }
    
</head>

<body >

    <nav class="navbar navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@baseurl">Pharmacogenetics</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink("Project List", "ProjectPage", "Project", new { Area = "ProjectManagement" }, new { })</li>
                    <li>@Html.ActionLink("Patient Output", "PatientOutput", "Patient", new { Area = "PatientManagement" }, new { })</li>
                    <li>@Html.ActionLink("Translator Output", "TranslatorOutput", "Translator", new { Area = "TranslatorManagement" }, new { })</li>

                    @*<li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Translator<b class="caret"></b></a>
                        <ul class="dropdown-menu multi-level">
                            <li>@Html.ActionLink("Upload Translator", "UploadTranslatorData", "Translator", new { Area = "TranslatorManagement" }, new { })</li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Patient<b class="caret"></b></a>
                        <ul class="dropdown-menu multi-level">
                            <li>@Html.ActionLink("Upload Train Data", "UploadTrainData", "Patient", new { Area = "PatientManagement" }, new { })</li>
                            <li>@Html.ActionLink("Upload Copy Number Data", "UploadCopyNumberData", "Patient", new { Area = "PatientManagement" }, new { })</li>
                        </ul>
                    </li>*@

                    
                    

                    @*<li><a href="upload.html"><span class="fa fa-upload"></span>Upload Train Data</a></li>
                    <li><a href="patient-output.html"><span class="fa fa-address-book-o"></span>Patient Output</a></li>
                    <li><a href="patient-report.html"><span class="fa fa-file-text"></span>Patient report</a></li>*@

                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>



    <div class="container">
        <div class="row">
            @if (ViewData["Error"] != null)
            {
                <div id="divMessagePharma" class="container first_wrapper bg-success text-danger alert alert-danger">
                    <span style="float: right; cursor: pointer" onclick="CloseMessage('divMessagePharma')" title="Hide the message">×</span>
                    <p id="messageText" style="font-size: 18px; font-weight: bold;">@Html.Raw(ViewData["Error"].ToString())</p>
                </div>
            }
            @if (TempData["Success"] != null)
            {
                <div id="divMessagePharma" class="container first_wrapper bg-success text-success alert alert-success">
                    <span style="float: right; cursor: pointer" onclick="CloseMessage('divMessagePharma')" title="Hide the message">×</span>
                    <p id="messageText" style="font-size: 18px; font-weight: bold;">@Html.Raw(TempData["Success"].ToString())</p>
                </div>
            }
            @RenderBody()
        </div>
    </div>


    @RenderSection("banner", required: false)


    <footer>
        <p>© 2017 - by Alterna  2017</p>
    </footer>
    @*Phrma Design
        <script src="js/jquery.js"></script>
        <script src="js/bootstrap.js"></script>*@

    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/common")
    @Scripts.Render("~/bundles/js/pharma")
    <script type="text/javascript">
        function CloseMessage(divMessagePharma) {
            $('#' + divMessagePharma).stop().fadeOut("slow");
        }
        //$("select").chosen({ search_contains: true });

        $(document).ajaxStart(function () {
            //alert("ajaxStart");
            $('#ajaxBusy').show();
        });
        $(document).ajaxStop(function () {
            //alert("ajaxStop");
            $('#ajaxBusy').hide();
        });

        $(document).ready(function () {
            $('body').append('<div id="ajaxBusy" style="display:none"><p><img src="../../Content/themes/base/images/ring-alt.gif" alt="Loading..."/></p></div>');

            $('#ajaxBusy').css({
                display: "none",
                margin: "0px",
                paddingLeft: "0px",
                paddingRight: "0px",
                paddingTop: "0px",
                paddingBottom: "0px",
                position: "absolute",
                left: "50%",
                top: "50%",
                width: "auto"
            });

        });

    </script>
    @RenderSection("scripts", required: false)
</body>
</html>